<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body style="background-image:url('/images/home_back.jpg'); ">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<!--Angular Goes Here-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<h1 style="background-color: #FFF8DC;">
  <img src="images/logo.png" alt="logo">
  <small>food over Everything !</small>
</h1>

<div class="container row-header" >
  <div class="row" style=" display:flex;">
        <div class="card" >
            <a class="rounded mx-auto d-block" href="/menu">
              <button class="btn btn-warning card-text">View Menu</button>
            </a><br>
          <a class="rounded mx-auto d-block" href="/orders">
            <button class="card-text btn btn-danger">Place an Order</Button>
          </a>
        </div>
    </div>
  </div>
</div>
<!--<div class="col-md-3 rounded mx-auto d-block">-->
  <!--<a class="rounded mx-auto d-block" href="/login/franchise">-->
    <!--<div class="card" ><img class="card-img-top img-fluid" src="images/kfc_logo.png"  alt="Franchise owners"></a>-->
  <!--<div class="card-block text-sm-left">-->
    <!--<h4 class="card-title">Franchise Owners</h4>-->
    <!--<button class="btn btn-faded card-text">Franchise Owners go here</button>-->
  <!--</div>-->
<!--</div>-->
<!--</div></a>-->
<!--</div>-->
</body>

</html>
